body {
  font-family: "Times New Roman", Times, serif;
  /* font-size: ; */
  /* font-weight: bold */
}

img {
  width: auto;
  height: 350px;
}

h1 {
  color: rgb(12, 12, 12);
}

#one {
  color: blue;
}

h2 {
  color: rgb(10, 10, 10);
  font-size: large;
}

p {
  color: rgb(228, 19, 176);
}

ul {
  color: rgb(10, 233, 29);
}

ol {
  color: rgb(235, 10, 48);
}
